<div class="card mystyle_card" style="width:inherit">
  <img (click)=toggleDisplay() [src]="'http://openweathermap.org/img/w/' + weatherData?.weather[0].icon + '.png'"
    onerror="this.src='https://play-lh.googleusercontent.com/lPfhsMXmCAVrYe3Im-YEuldaIylbh0-ZMxUSf6sd-alEAphC2iGnsaEc3gJGC1LTE1g';"
    >
  <div class="card-body">
    <form *ngIf="isShow" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
      <div class="form-group">
        <input class="form-control" type="text" aria-describedby="weatherLocation"
          placeholder="Enter Location" formControlName="location" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-md btn-secondary" (click)=displayData()>
          Search</button>
      </div>
    </form>
    <div class="output_data" *ngIf="isData">
      Temperature is {{this.weatherData?.main.temp}}°C
    </div>
  </div>
</div>
